@model ZoombuM1.Models.ZoombuViewModel

@{
    ViewBag.Title = "Create Group";
}
<div id="rightContainer">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <p class="title" >Profil</p>
                @{
                    @Html.DisplayTextFor(model => model.User.Firstname)
                    @: 
                    @Html.DisplayTextFor(model => model.User.Lastname)
                    <br />
                    @Html.DisplayTextFor(model => model.User.Department)
                    @:-
                    @Html.DisplayTextFor(model => model.User.Title)
                }
                <br /><br />
                <p class="title">Groups</p>
                @{
                    if(Model.User.Group != null){
                        foreach (var item in Model.User.Group.ToList())
                        {
                            @Html.ActionLink(item.Name, "../Group/Wall", new { id = item.Id }) <br />
                        }
                    }
                    <br />
                    @Html.ActionLink("Create a new group", "../Group/Create")
                }
            </div>
    
            <div class="span10">
                @using (Html.BeginForm()) {
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>Group</legend>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Group.Name)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Group.Name)
                            @Html.ValidationMessageFor(model => model.Group.Name)
                        </div>

                        <p>
                            <input type="submit" value="Create" class="btn btn-danger"/>
                        </p>
                    </fieldset>
                }
            </div>
        </div>
    </div>      
</div>

